
.header-main {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-height: 140px;
}

.header-main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-color: #505099;
    top: 0;
    left: 0;
    border-bottom: solid 2px ;
}

.profile-box {
    padding: 3px;
}

.img-profile {
    width: auto;
    height: 130px;
    border-radius: 50%;
    border: solid 2px ;
}

.sub-header-container {
    min-height: 140px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sub-header-box {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.title-name {
    font-size: 40px;
    color: white
}

.more-button {
    display: none;
}

.more-informations {
    display: none;
}

@media screen and (max-width: 525px) {
    .img-profile {
        height: 80px;
        width: 80px;
    }

    .title-name {
        font-size: 30px;
    }
    .sub-header-box {
        height: 50px;
    }

    .header-main, .sub-header-container {
        min-height: 100px;
    }
    .header-main::before {
        height: 50px;
    }

    .more-button {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        margin: 4px;
        padding: 4px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        z-index: 12;
    }
    
    .burguer {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 10px;
        transition: all 500ms;
    }

    .actived .burguer {
        background-color: red;
    }

    .desactived .burguer {
        background-color: white;
    }

    .more-informations .skills-container {
        display: flex;
        background-color: #1b1b1b;
        min-width: 150px;
        padding: 50px 0;
        border: solid 1px white;
    }
    .more-informations {
        position: absolute;
        top: 0;
        right: -150px;
        z-index: 11 !important;
        transition: all 500ms;
    }

    .actived {
        animation: rotateA forwards ease-in-out 700ms;
    }
    .desactived {
        animation: rotateD forwards ease-in-out 200ms;
    }

    .actived .burguer:nth-child(1) {
        position: relative;
        animation: child1 forwards ease-in-out 500ms;
    }
    .actived .burguer:nth-child(2) {
        animation: childm forwards ease-in-out 500ms;
    }
    .actived .burguer:nth-child(3) {
        position: relative;
        animation: child2 forwards ease-in-out 500ms;
    }
    .desactived .burguer:nth-child(1) {
        position: relative;
        animation: dchild1 forwards ease-in-out 500ms;
    }
    .desactived .burguer:nth-child(2) {
        animation: dchildm forwards ease-in-out 500ms;
    }
    .desactived .burguer:nth-child(3) {
        position: relative;
        animation: dchild2 forwards ease-in-out 500ms;
    }
}

@keyframes rotateA {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}
@keyframes rotateD {
    0% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
        background-color: transparent;
    }
}
@keyframes childm {
    0%{
        width: 100%;
    }
    50% {
        width: 4px;
    }
    100% {
        width: 4px;
    }
}
@keyframes dchildm {
    0% {
        width: 4px;
    }
    100%{
        width: 100%;
    }
}
@keyframes child1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    100%{
        transform: translateY(6px) rotate(90deg);
    }
}
@keyframes child2 {
    0%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(-6px);
    }
}
@keyframes dchild1 {
    0% {
        transform: translateY(6px) rotate(90deg);
    }
    50% {
        transform: translateY(6px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes dchild2 {
    0%{
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0);
    }
}