
.main-menu {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
}

.repos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    align-items: flex-start;
    max-width: 700px;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    border: solid 1px rgb(83, 83, 83);
}

.repos-title {
    width: 100%;
    text-align: center;
}

.repos-box {
    min-width: 250px;
    width: 49%;
    max-width: 50%;
    height: 140px;
    border: solid 1px #b1b1b1;
    border-radius: 20px;
    padding: 12px;
}

.repos-item {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.repos-name {
    font-weight: bold;
    font-size: large;
    color: rgb(136, 243, 243);
}

.repos-description {
    font-size: 14px;
}

.repos-info {
    display: flex;
    justify-content: space-between;
}

.pushed-at, .repos-link {
    font-size: smaller;
    color: aqua;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #80808063;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #505099;
    border-radius: 20px;
}

.skills-container {
    min-width: 200px;
    border: solid 1px #80808063;
}

.skills-box {
    min-width: 20%;
}

.age-item {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.lenguages ul li {
    list-style: none;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .repos-box {
        min-width: 100%;
    }
}

@media screen and (max-width: 525px) {
    .main-menu {
        flex-direction: column;
    }

    .repos-container {
        width: 80%;
        margin: auto;
    }

    .skills-container {
        display: none;
    }
}

