
.profile-card-box {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    min-width: 160px;
    width: 90%;
    max-width: 500px;
    height: max-content;
    margin: auto;
    background-color: #100f0f9a;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 2rem;
}

.profile-picture {
    width: 100%;
    display: flex;
    margin: 1rem auto;
}

.img-profile {
    min-width: 150px;
    width: 50%;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    margin: auto;
}

.title-name, .college {
    text-align: center;
}

.age-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-name {
    font-size: 1.8rem;
}

.my-age {
    font-size: 1.2rem;
}

.college {
    font-size: 1.2rem;
}

.college-box {
    margin: 0.8rem 0;
}

.skills {
    font-size: 1.2rem;
    text-align: center;
}

.skills-box {
    margin: 0 1rem;
}

@media screen and (min-width: 1000px) {
    .profile-card-box {
        max-width: 500px;
    }
}