
.header-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.top-box-header {
    width: 100%;
    height: 70px;
    background-color: rgb(10, 10, 10);
    border-bottom: solid 2px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.navigation-main {
    height: 100%;
}

.nav-main {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-main li {
    margin-left: 20px;
    list-style: none;
    font-size: 1.2rem;
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    color: gray;
}

.nav-main li a {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-main li a:hover {
    position: relative;
    top: 5px;
    right: 7px;
    background-color: black;
    box-shadow: 7px -5px 0px 0px white;
    border: solid 1px red;
}

.bottom-box-header {
    width: 100%;
}

.profile-box {
    width: 100px;
    height: auto;
    position: relative;
    top: 40px;
    left: 20px;
}

.profile-img img {
    border: solid 2px white;
    border-radius: 50%;
}